.App {
  text-align: center;
}
*{
  box-sizing: border-box;
}
/* 
.formikField{
  width: 80%;
  margin-bottom: 20px;

  height: 20px;
  padding: 10px;
  font-size: large;
  border-radius: 4px;
  box-shadow: 2px,4px,6px #888888;
} */

.formikFieldGuest{
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px;
  
}
.formikFieldGender{
  text-align: start
}
.error{
  color:red;
}
