.App {
  text-align: center;
}
*{
  box-sizing: border-box;
}

.formikFieldGuest{
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px;
  
}
.formikFieldGender{
  text-align: start
}
.error{
  color:red;
}
